# Copyright (c) 2020 Tomas Styblo
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

# TODO - do not use this file - not ready

config BOARD
    default "icosoc" if BOARD_ICOSOC

config BOARD_ICOSOC
    bool
    default y
    select CPU_MODEL_PICORV32

